Source: ros-verystable-ros1-rosbag-storage-vendor
Section: misc
Priority: optional
Maintainer: Karsten Knese <karsten@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), git, libboost-all-dev, libbz2-dev, libconsole-bridge-dev, libgpgme-dev, libssl-dev, pkg-config, ros-verystable-ament-cmake, ros-verystable-ament-lint-auto, ros-verystable-ament-lint-common, ros-verystable-pluginlib, ros-verystable-ros1-bridge, ros-verystable-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-verystable-ros1-rosbag-storage-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-verystable-ros-workspace
Description: Vendor package for rosbag_storage of ROS1
