Source: ros-turbulent-rosbag2-bag-v2-plugins
Section: misc
Priority: extra
Maintainer: Karsten Knese <karsten@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-turbulent-ament-cmake, ros-turbulent-ament-cmake-gmock, ros-turbulent-ament-lint-auto, ros-turbulent-ament-lint-common, ros-turbulent-pluginlib, ros-turbulent-rclcpp, ros-turbulent-rcutils, ros-turbulent-ros1-bridge, ros-turbulent-ros1-rosbag-storage-vendor, ros-turbulent-rosbag2, ros-turbulent-rosbag2-storage, ros-turbulent-rosbag2-test-common, ros-turbulent-std-msgs, ros-turbulent-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-turbulent-rosbag2-bag-v2-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-turbulent-pluginlib, ros-turbulent-rclcpp, ros-turbulent-rcutils, ros-turbulent-ros1-bridge, ros-turbulent-ros1-rosbag-storage-vendor, ros-turbulent-rosbag2, ros-turbulent-rosbag2-storage, ros-turbulent-ros-workspace
Description: Package containing storage and converter plugins for rosbag 1
